{% block linktags %}
<link rel="stylesheet" href="/static/css/foundation.css">
{{ super() }}
<link rel="stylesheet" href="/static/css/details.css">

{% endblock %}

{% block content %}

<section class="background">
    <div class = "titleView">
        <p>{{ inventory.p_title }}</p>
    </div>
    <div class="rowid">
    <div class="large-10 columns imageView">
        <p>Name:{{ inventory.var.name }}</p>
        <p>Phone Number:</p>
        <p>Neighbourhood:</p>
        <p>Email:</p>
        <p>Item Description:</p>

    </div>
    <div class="large-5 columns PriceView">
        <p>ITEM PRICE: </p>

    </div>

    </div>

</section>

{% endblock%}