<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EXPLODE!</title>

    <!-- BOOTSTRAP CDN LINKS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<body>

<nav class="nav">

        <a class="toggle-nav" href="#">&#9776;</a>

        <div class="nav-mobile">
            <ul class="left">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fa fa-book"></i> Categories</a></li>
                <li><a href="#"><i class="fa fa-fire"></i> Most Popular</a></li>
            </ul>
            <ul class="right">
                <li>
                    <a href="#"><i class="fa fa-user"></i> About</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope"></i> Contact</a>
                </li>
            </ul>
        </div>
    </nav>



{% block content %} {% endblock %}


<!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="static/js/app.js"></script>

<!-- PAGINATION JAVASCRIPT -->
            <script type="text/javascript">

            var pager = new app.Pager();
            $(document).ready(function() {

            pager.paragraphsPerPage = 5; // set amount elements per page
            pager.pagingContainer = $('#content'); // set of main container
            pager.paragraphs = $('div.z', pager.pagingContainer); // set of required containers
            pager.showPage(1);
            });
            </script>
</body>
</html>