@import 'https://fonts.googleapis.com/css?family=Galada';
.left {
    font-family: 'Galada', cursive;
}
.right {
    float: right;
    width: 1050px;
    height: 925px;
    border: 1px dashed aqua;
    background-color: floralwhite;

body{
	color: #7cb342;
}
}
.image img {
    display: inline-block;
}
.columnAside{
float: left;
height: 585px;
width: 25%;
}
.columnAside li{
    list-style: none;
    padding-top: 20%;
    padding-bottom: 5px;
    text-align: center;
}
.columnAside img{

}
. columnAside input{
padding-right: 20%;
}
.columnMain{
height: 585px;
}

#submit_btn {
    margin-left: 50px;
    margin-top: 30px;
}
.row p{
    font-size: 40px;
    color: #2196f3;
    text-align: center;
}
.WT{
width: 100%;

}

    /*PAGINATION LINKS*/

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}




