{% block linktags %}
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/add.css">

{% endblock %}


{% block content %}
<div class="row">
    <div class="form small-6 columns">
    <form action="{{ url_for('add_item') }}" method="POST">
        <p> <em class="strong">HEY, ADD YOUR ITEMS HERE! </em> </p>
        <div class="addTitleView">
            <p>ITEM TITLE</p>
            <textarea name="titleView" placeholder="-- Title --"></textarea>
            <hr>
        </div>
        <div class="addDescView">
    <p>DESCRIBE YOUR ITEMS IN A FEW WORDS HERE!</p>
    <textarea name="descView" placeholder="-- Describe Your Items --"></textarea>
    <hr>
        </div>
        <div class="detailsView">
            <p> LEAVE SOME DETAILS HERE! </p>
            <textarea name="nameView" placeholder="-- Name --"></textarea>
            <textarea name="numberView" placeholder="-- Mobile Number --"></textarea>
            <textarea name="neighbourView" placeholder="-- Neighbourhood --"></textarea>
            <textarea name="emailView" placeholder="-- Email --"></textarea>
            <hr>
        </div>
        <div>
            <input class="large-4 columns button" type="submit" value="POST MY AD!">
        </div>
        </form>
    </div>
    <a href="{{ url_for('index') }}"> <input class="large-4 columns button" id="submit_btn" type="button" value="Home"></a>

    <div class="img small-6 columns">
        <img src="/static/img/div.jpg" alt="">
        <img src="/static/img/div.jpg" alt="">

    </div>
    </div>


{% endblock %}