{% block linktags %}
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/details.css">

{% endblock %}

{% block content %}

<section class="background">
    <div class = "titleView">
        <p>PRODUCT TITLE</p>
    </div>
    <div class="row">
    <div class="large-6 columns imageView">

    </div>
    <div class="large-5  columns PriceView">
        <p>ITEM PRICE</p>
    </div>
        </div>
    <div class="SellerDetailsView">
        <p>Name:</p>
        <p>Phone Number:</p>
        <p>Neighbourhood:</p>
        <p>Email:</p>
    </div>
</section>

{% endblock%}