{% extends "layout.html" %}

{% block linktags %}
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/app.css">
{% endblock %}

{% block content %}

<section class="row" style="background-color:#ffffff;">
    <div class="row">
        <p>OLXmini</p>
    </div>
    <div class="row">
    <div class="columnAside small-2 medium-3 large-3 columns " >
        <ol>
            <img src="/static/img/div.jpg" alt="">
            <li><a href="{{ url_for('index') }}">New Furniture</a></li>
            <li><a href="{{ url_for('index') }}">Deluxe Furniture</a></li>
            <li><a href="{{ url_for('index') }}">Second-Hand Furniture</a></li>
            <a href="{{ url_for('add_item') }}"> <input class="button" id="submit_btn" type="button" value="ADD ITEM"></a>
        </ol>
    </div>
    <div class="columnMain small-10 medium-9 large-9 columns ">
        <div class="WT">

       <!--insert the value of the variable inventory at the current point.-->
             <section class="row">
        {% for inventory in inventory %}
                <div class="small-4 columns">
              <h2>{{ inventory.p_title }}<br></h2>

               <div class="content">
                   {{ inventory.p_desc }}<br>
                   {{ inventory.p_price }}<br>
               </div>
                </div>
                 {% endfor %}
             </section>
        </div>

    </div>
        </div>

</section>

{% endblock %}