{% extends "layout.html" %}

{% block linktags %}
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/app.css">
{% endblock %}

{% block content %}

<section class="row" style="background-color:#ffffff;">
    <div class="row">
        <p>OLXmini</p>
    </div>
    <div class="row">
    <div class="columnAside small-2 medium-3 large-3 columns " >
        <ol>
            <img src="/static/img/div.jpg" alt="">

            <li><a href="{{ url_for('index') }}">Log In</a></li>
            <li><a href="{{ url_for('index') }}">Search</a></li> 
            <a href="{{ url_for('add_item') }}"> <input class="button" id="submit_btn" type="button" value="ADD ITEM"></a>
        </ol>
    </div>
    <div class="columnMain small-10 medium-9 large-9 columns ">
        <div class="WT">

       <!--insert the value of the variable inventory at the current point.-->
             <section class="row">
                {{ pagination.info }}
                {{ pagination.links }}
        {% for inventory in inventory %}
                <div class="small-4 columns">
                <a href="{{ url_for('view_particulars', id=inventory_id) }}">{{ inventory.p_title }}</a>
              <!-- <h3>{{ inventory.p_title }}<br></h3> -->

               <div class="content">
                   {{ inventory.p_desc }}<br>
                   {{ inventory.p_price }}<br>
               </div>
                </div>
                 {% endfor %}
                 {{ pagination.links }}
             </section>



            <script type="text/javascript">

            var pager = new Imtech.Pager();
            $(document).ready(function() {

            pager.paragraphsPerPage = 5; // set amount elements per page
            pager.pagingContainer = $('#content'); // set of main container
            pager.paragraphs = $('div.z', pager.pagingContainer); // set of required containers
            pager.showPage(1);
            });
            </script>
        </div>

    </div>
        </div>

</section>

{% endblock %}