{% extends "layout.html" %}

{% block linktags %}
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/app.css">
{% endblock %}

{% block content %}

<section>
    <div class="left">
        <div class="dropbox">
            <img src="img/dropbox.png" alt="">
        </div>
        <table class="table">

            <tr>
                <td>Files</td>

            </tr>
            <tr>
                <td>Photos</td>

            </tr>
            <tr>
                <td>Sharing</td>

            </tr>
            <tr>
                <td>Links</td>

            </tr>
            <tr>
                <td>Events</td>

            </tr>
            <tr>
                <td>Get Started</td>

            </tr>

            <section id="submit_btn" class="small-12 large-3 columns">

                <input class="button" type="button" value="Upgrade account">
            </section>


        </table>
    </div>
    <div class="right">
        <div class="top">
            <div class="WT">
                <p>OLX-mini
                </p>
            </div>
            <div class="menu">
                <a href="#Home">Home</a>
                <a href="#About Us">About Us</a>
                <a href="#Contact Us">Contact Us</a>
            </div>
        </div>

        <!--insert the value of the variable comment at the current point.-->
        {% for comment in comments %}
        <div class="row">
            {{ comment }}
        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}